<div class="flex flex-col w-full mt-7">
  <app-modal-form *ngIf="isModalOpen" (onClose)="handleClose()"></app-modal-form>
  <p class="font-bold mb-5 font-[Montserrat] text-center text-[#4764d9] text-3xl">
    Hello, {{ userData?.name || userData?.email }}!
  </p>
  <p class="font-bold mb-5 font-[Montserrat] text-center text-5xl text-[#20214f]">
    How are you feeling today?
  </p>
  <p
    class="text-center mb-[80px] font-[Montserrat] font-medium text-[#716f85]"
  >
    {{ currentDate }}
  </p>
  <div
    class="flex flex-row justify-center mb-[100px]"
  >
    <button
      *ngIf="!todaysMood"
      class="py-4 px-7 bg-[#4865db] rounded-md text-neutral-50 text-lg font-medium cursor-pointer transition-colors hover:bg-[#6348db]"
      (click)="isModalOpen = true"
    >
      Log today's mood
    </button>
  </div>
  <div
    *ngIf="!isEmpty"
    class="mainContainer flex flex-col md:flex-row gap-7 mb-5"
  >
    <div
      class="subContainer flex-1/2 bg-[#ffffff] p-5 rounded-md"
    >
      <div class="flex flex-col w-[50%] h-[100%]">
          <p
            class="text-[#b2b2bf] font-medium text-lg md:text-2xl font-[Montserrat]"
          >
            I'm feeling
          </p>
          <p
            class="font-bold text-[#20214f] text-2xl md:text-4xl font-[Montserrat]"
          >
            {{ todaysMood?.mood | moodPipe }}
          </p>
          <p
            class="font-semibold font-[Montserrat] text-sm mt-[40px] md:mt-[auto] md:text-lg italic"
          >
            "{{ quote }}"
          </p>
      </div>
    </div>
    <div
      class="subContainer flex flex-col flex-1/3 gap-7"
    >
      <div class="flex flex-col flex-1/3 bg-[#ffffff] p-5 rounded-md gap-4">
          <div class="flex flex-row items-center gap-4">
            <i class='bxr  bx-eye-closed text-lg'></i>
            <p class="font-[Montserrat] text-lg font-bold">Sleep</p>
          </div>
          <p class="text-[#20214f] font-bold text-2xl font-[Montserrat]">
            {{ todaysMood?.sleep | sleepPipe }} hours
          </p>
      </div>
      <div class="flex flex-col flex-1/2 bg-[#ffffff] p-5 rounded-md gap-2">
          <div class="flex flex-row items-center gap-4">
            <i class='bxr  bx-star text-lg'></i>
            <p class="font-[Montserrat] text-lg font-bold">Reflection of the day</p>
          </div>
          <p class="text-[#bebdc4] font-medium text-sm font-[Montserrat]">
            {{ todaysMood?.reflection }}
          </p>
          <!-- <div class="flex flex-row mt-[60px] gap-2">
            <p class="text-[#bebdc4] font-medium text-sm font-[Montserrat] italic">
              #Grateful
            </p>
            <p class="text-[#bebdc4] font-medium text-sm font-[Montserrat] italic">
              #Optimistic
            </p>
          </div> -->
      </div>
    </div>
  </div>
  <div
    *ngIf="!(moodData.length === 0)"
    class="mainContainer flex flex-col md:flex-row gap-7 mb-7"
  >
    <div
      class="subContainer flex flex-col flex-1/6 bg-[#ffffff] p-5 rounded-md"
    >
      <div
        class="flex flex-col w-full gap-2"
      >
        <div
          class="flex flex-row gap-1 items-end"
        >
          <p class="text-lg font-bold text-[#20214f] font-[Montserrat]">Average mood</p>
          <p class="text-sm text-[#bebdc4] font-[Montserrat]">(Last 5 check-ins)</p>
        </div>
        <div class="metricContainer flex flex-col gap-2 bg-[#89ccff] py-[35px] px-5 rounded-xl">
          <div class="flex flex-row items-center">
            <p class="font-[Montserrat] text-lg font-medium">{{ averageMood | moodPipe }}</p>
          </div>
          <div class="flex flex-row gap-2 items-center">
            <i class='bxr  bx-arrow-right-stroke text-sm'></i>
            <p class="font-[Montserrat] text-sm">Same as the previous 5 check-ins</p>
          </div>
        </div>
        <div
          class="flex flex-row gap-1 items-end"
        >
          <p class="text-lg font-bold text-[#20214f] font-[Montserrat]">Average sleep</p>
          <p class="text-sm text-[#bebdc4] font-[Montserrat]">(Last 5 check-ins)</p>
        </div>
        <div class="metricContainer flex flex-col gap-2 bg-[#4865db] py-[35px] px-5 rounded-xl">
          <div class="flex flex-row items-center">
            <p class="font-[Montserrat] text-lg font-medium text-neutral-50">{{ averageSleep | sleepPipe }} hours</p>
          </div>
          <div class="flex flex-row gap-2 items-center">
            <i class='bxr  bx-arrow-right-stroke text-sm text-neutral-50'></i>
            <p class="font-[Montserrat] text-sm text-neutral-50">Increase from the previous check ins</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="subContainer flex flex-col flex-1/2 bg-[#ffffff] p-5 rounded-md"
    >

    </div>
  </div>
</div>
