/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

input {
  outline: none;
}

input:focus {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
}

textarea:focus {
  outline: none;
}


html {
  background-color: #f5f5ff;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
