/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

input {
  outline: none;
}

input:focus {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
}

textarea:focus {
  outline: none;
}


html {
  background-color: #f5f5ff;
  transition: all .2s ease-in-out;
}

.darkHtml {
  background-color: #3a3a59;
}

.darkHtml .title, .darkHtml .text {
  color: #f5f5ff;
}

.darkHtml .greyText {
  color: rgb(184, 184, 194);
}

.darkHtml .modal, .darkHtml .subContainer {
  background-color: #44446f;
}

.darkHtml .buttonContainer {
  background-color: #505194;
}

.darkHtml .firstTile {
  background-color: #6e6e99;
}

.darkHtml .secondTile {
  background-color: #5a5a7c;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .5s;
}

.shrinkElement {
  animation-name: shrinkAnimation;
  animation-duration: .2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.scaleElement {
  animation-name: scaleAnimation;
  animation-duration: .2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shrinkAnimation {

  from {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 0;
    height: 0px;
  }

  to {
    opacity: 0;
    height: 0px;
    display: none;
  }

}

@keyframes scaleAnimation {

  from {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }

  80% {
    opacity: 1;
    height: auto;
    visibility: visible;
  }

  90% {
    opacity: 1;
    height: auto;
    visibility: visible;
  }

  to {
    opacity: 1;
    height: auto;
    visibility: visible;
  }
}
